# See: https://editorconfig.org/

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4

[{meson.build,meson_options.txt}]
indent_style = space
indent_size = 4

[simd*.conf]
indent_style = tab
tab_width = 8
