name: Pull Request

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout target branch (${{ github.base_ref }})
      uses: actions/checkout@v6
      with:
        ref: ${{ github.base_ref }}
    - name: Checkout PR
      uses: actions/checkout@v6
      with:
        ref: ${{ github.sha }}
    - name: Check if the PR adds tabs in source files
      run: .github/scripts/check-no-tabs.sh origin/${{ github.base_ref }} HEAD

  git-sanity:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the PR merge point
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Run the git checks
      run: .github/scripts/check-git-history.sh ${{ github.base_ref }} ${GITHUB_SHA}

  build-cpu:
    name: Build binary for CPU (Linux)
    needs: [ lint, git-sanity ]
    runs-on: ubuntu-24.04${{ matrix.archsuffix }}
    container: debian:sid
    strategy:
      matrix:
        include:
        - { name: GCC-x86_64, unittests: "unittests", selftests: "selftests" }
        - { name: GCC-x86_64-NoLogging, unittests: "unittests", meson_args: "-Dlogging_format=no_output" }
        - { name: Clang-x86_64, unittests: "unittests", env: "CC=clang-19 CXX=clang++-19" }
        - { name: GCC-arm64, archsuffix: "-arm", selftests: "selftests" }
    steps:
      - name: Checkout the PR merge point
        uses: actions/checkout@v6
      - name: Build for CPU (Linux)
        uses: ./.github/actions/build-cpu
        with:
            name: ${{ matrix.name }}
            env: ${{ matrix.env }}
            meson_args: ${{ matrix.meson_args }}
            unittests: ${{ matrix.unittests }}
      - name: run unittests
        if: ${{ matrix.unittests }}
        shell: bash
        run: |
          ./builddir/unittests \
            --gtest_filter=-LinuxThermalFixture.CurrentMachine_TestUsingSingletomTemperaturesOnCurrentMachine # this test doesn't execute properly in a github runner
      - name: run selftests
        if: ${{ matrix.selftests }}
        shell: bash
        run: |
          ulimit -St 120
          SANDSTONE_BIN=builddir/opendcdiag bats -t bats/sanity-check
      - name: run tests quickly
        shell: bash
        run: |
          ulimit -St 120
          nproc=`nproc`
          nproc=$((nproc > 4 ? 4 : nproc))
          builddir/opendcdiag --quick -n$nproc --retest-on-failure=0 -o -
      - name: upload test run logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-linux-${{ matrix.name }}-logs
          if-no-files-found: ignore
          path: |
            *.yaml
          retention-days: 3

  build-cpu-win:
    name: Build binary for CPU (Windows)
    needs: [ lint, git-sanity ]
    runs-on: windows-latest
    steps:
      - name: Checkout the PR merge point
        uses: actions/checkout@v6
      - name: Build for CPU (Windows)
        uses: ./.github/actions/build-cpu-win
      - name: run selftests
        shell: msys2 {0}
        run: SANDSTONE_BIN=builddir-windows/opendcdiag.exe bats-core/bin/bats -t bats/sanity-check
      - name: run tests quickly
        shell: msys2 {0}
        run: |
          nproc=`nproc`
          nproc=$((nproc > 4 ? 4 : nproc))
          builddir-windows/opendcdiag --quick -n$nproc --retest-on-failure=0 -o -
      - name: upload test run logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-windows-logs
          if-no-files-found: ignore
          path: |
            *.yaml
          retention-days: 3

  build-gpu:
    name: Build binary for GPU
    needs: [ lint, git-sanity ]
    runs-on: ubuntu-24.04${{ matrix.archsuffix }}
    container: debian:sid
    strategy:
      matrix:
        include:
        - { name: GCC, unittests: "unittests" }
        - { name: GCC-NoLogging, unittests: "unittests", meson_args: "-Dlogging_format=no_output" }
    steps:
      - name: Checkout the PR merge point
        uses: actions/checkout@v6
      - name: Build for GPU
        uses: ./.github/actions/build-gpu
        with:
            name: ${{ matrix.name }}
            env: ${{ matrix.env }}
            meson_args: ${{ matrix.meson_args }}
            unittests: ${{ matrix.unittests }}
      - name: run unittests
        if: ${{ matrix.unittests }}
        shell: bash
        run: |
          ./builddir/unittests
