name: Pull Request

on:
  pull_request:
    branches: [ main, socket-separation ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout target branch (${{ github.base_ref }})
      uses: actions/checkout@v2
      with:
        ref: ${{ github.base_ref }}
        fetch-depth: 1
    - name: Checkout PR
      uses: actions/checkout@v2
      with:
        ref: ${{ github.sha }}
        fetch-depth: 1
    - name: Check if the PR adds tabs in source files
      run: .github/scripts/check-no-tabs.sh origin/${{ github.base_ref }} HEAD

  git-sanity:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the PR merge point
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Run the git checks
      run: .github/scripts/check-git-history.sh ${{ github.base_ref }} ${GITHUB_SHA}

  build:
    needs: [ lint, git-sanity ]
    uses: opendcdiag/opendcdiag/.github/workflows/build.yaml@main

  build-gpu:
    needs: [ lint, git-sanity ]
    uses: opendcdiag/opendcdiag/.github/workflows/build-gpu.yaml@main
